<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/master}" >
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body{
            margin: 0;
        }
        .head_wrapper{
            background: #008000;
            height: 80px;
        }
        .head_wrapper>button{
            border: none;
            background: red;
            width: 200px;
            height: 100%;
        }
        .head_wrapper>button:hover{
            border: none;
            background: blue;
            color: pink;
            width: 200px;
            height: 100%;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: fr-header">
</div>
<div layout:fragment="content">
    <u><h1>Books For Sell like asses in the wind</h1></u>
    <a href="/create"><button>Create</button></a><br>
    <a href="/?lang=en">English</a>
    <a href="/?lang=km">Khmer</a>
    <a href="/?lang=th">Thai</a>
    <table border="1" style="border-collapse: collapse">
        <tr>
            <th th:text="#{table.id}">ID</th>
            <th th:text="#{table.title}">Name</th>
            <th th:text="#{table.Author}">Author</th>
            <th>Publisher</th>
            <th>Thumbnail</th>
            <th>Action</th>
        </tr>
        <tr th:each="bookList : ${books}">
            <td th:text="${bookList.getId()}"></td>
            <td th:text="${bookList.getName()}"></td>
            <td th:text="${bookList.getAuthor()}"></td>
            <td th:text="${bookList.getPublisher()}"></td>
            <td ><img th:src="${bookList.getThumbnail()}" width="100px" height="100px" alt="Picture xD"></td>
            <td>
                <a th:href="@{/view/{id}(id=${bookList.getId()})}"><button>View</button></a>
                <a th:href="@{/update/{id}(id=${bookList.getId()})}"><button>Update</button></a>
                <button class="delete-btn" th:attr="data-id=${bookList.getId()}">Delete</button>
            </td>
        </tr>
    </table>

    <script type="text/javascript" src="static/jquery-3.3.1.min.js">
        </script>

    <script>
        $(document).ready(function () {
            $('body').on('click', '.delete-btn', function () {
                var data_id = $(this).attr("data-id");
                
                if (confirm("Do you want to delete?")){
                    window.location = "http://localhost:1234/remove/" + data_id;
                }
            })
        })
    </script>
</div>
</body>
</html>