<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/master}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h1><u>Book Detail</u></h1>
    <div th:if="${book} != null" th:object="${book}">
        <p>id: <span th:text="*{getId()}"></span></p>
        <p>Name: <span th:text="*{getName()}"></span></p>
        <p>Author: <span th:text="*{getAuthor()}"></span></p>
        <p>Publisher: <span th:text="*{getPublisher()}"></span></p>
    </div>

    <div th:unless="${book} != null">There Nothing Here!!!</div></div>
</body>
</html>